<!--<section class="oe_container">-->
    <!--<div class="oe_row oe_spaced">-->
        <!--<div class="oe_span12">-->
            <!--<h2 class="oe_slogan">PDF File of periodical VAT Declaration</h2>-->
            <!--<h3 class="oe_slogan">Print your declaration</h3>-->
        <!--</div>-->
        <!--<div class="oe_span6">-->
            <!--<div class="oe_row_img oe_centered oe_mt32">-->
            <!--<div class="oe_row_img oe_centered">-->
                <!--<img class="oe_picture oe_screenshot" src="menu.jpeg">-->
                <!--<img class="oe_picture oe_screenshot" src="wizard.jpeg">-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="oe_span6">-->
            <!--<p class="oe_mt32">-->
                <!--This module adds a PDF file report for the VAT Declaration.-->
            <!--</p>-->
            <!--<p class="oe_mt32">-->
                <!--It depends on l10n_be module and adds a button to print the report in the existing wizard 'Periodical VAT Declaration'-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->


<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">PDF File of periodical VAT Declaration</h2>
        <h3 class="oe_slogan">Print your declaration</h3>
        <p>
This module adds a PDF file report for the VAT Declaration.
        </p>
        <p>
It depends on l10n_be module and adds a button to print the report in the existing wizard 'Periodical VAT Declaration'
        </p>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="menu.jpeg">
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="wizard.jpeg">
        </div>
    </div>
</section>